#main{margin-top:0.64rem;}
#meishi{font-size:0.14rem;line-height:0.4rem;text-align:center;}
.eat>a>img{width:100%;}
.eat p{font-size:0.14rem;}
.eat p a{font-size:0.14rem;}
.eat p img{width:10%;}
.eat p span{float:right;padding-top:0.1rem;}



