*{margin:0;padding:0;}
li{list-style:none;}
a{text-decoration:none;color:#333;}
a img {border: 0 none;}
img {max-width: 100%;height: auto;vertical-align: middle;border: 0 none;}
#list{position:fixed;left:0;top:0;width:100%;height:0.64rem;background:url("../images/header.jpg") no-repeat;background-size:cover;}
#list>li{float:left;width:16%;font-size:0.16rem;padding-top:0.22rem;line-height:0.44rem;text-align:center;}
#list>li a{color:#fff;}
#footer{width:100%;font-size:0.11rem;position:fixed;left:0;bottom:0;}
#footer>li{float:left;width:20%;text-align:center;}
#footer>li a:hover{color:#9966ff;}
#footer>li a span{font-size:0.2rem;}